<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>METHSTREAMS | <%= stream.title %></title>
    <link href="/css/output.css" rel="stylesheet" />

   <!-- Histats.com  START  (aync)-->
<script type="text/javascript">var _Hasync= _Hasync|| [];
_Hasync.push(['Histats.start', '1,4913730,4,0,0,0,00010000']);
_Hasync.push(['Histats.fasi', '1']);
_Hasync.push(['Histats.track_hits', '']);
(function() {
var hs = document.createElement('script'); hs.type = 'text/javascript'; hs.async = true;
hs.src = ('//s10.histats.com/js15_as.js');
(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(hs);
})();</script>
<noscript><a href="/" target="_blank"><img  src="//sstatic1.histats.com/0.gif?4913730&101" alt="web hit counter" border="0"></a></noscript>
<!-- Histats.com  END  -->

    <!--popunder-->
<script>
document.write(atob("PHNjcmlwdCB0eXBlPSd0ZXh0L2phdmFzY3JpcHQnIHNyYz0nLy9jYXJyeWdsYW5jZWQuY29tL2NjL2EyLzNkL2NjYTIzZDBjZDE2NzM5NGI2ZTc0OTJhYjU4ZTI4NDdhLmpzJz48L3NjcmlwdD4="))
</script>
    <!--popunder-->

  </head>
  <body class="bg-neutral-900">
    <main class="flex justify-center mt-10 mb-6">
      <div class="max-w-screen-xl w-full bg-neutral-800 rounded-lg mx-3">
        <div class="grid grid-cols-12 m-3 max-lg:grid-cols-1 gap-3">
          <div class="col-span-8">
            <% if(matchStartedCheck(stream.date_time)){ %>

            <span class="text-xl text-rose-500">
              Stream Will Work 10Mins Before The Event</span
            >

            <% } %>

            <div class="topAd mt-3">
              <!--468x60-->
<script>
document.write(atob("PHNjcmlwdCB0eXBlPSJ0ZXh0L2phdmFzY3JpcHQiPgoJYXRPcHRpb25zID0gewoJCSdrZXknIDogJ2Q2ZjA1YmRkZWU4ODM5OTQ3YWUzYzRjZTUzMjc2NDg0JywKCQknZm9ybWF0JyA6ICdpZnJhbWUnLAoJCSdoZWlnaHQnIDogNjAsCgkJJ3dpZHRoJyA6IDQ2OCwKCQkncGFyYW1zJyA6IHt9Cgl9Owo8L3NjcmlwdD4KPHNjcmlwdCB0eXBlPSJ0ZXh0L2phdmFzY3JpcHQiIHNyYz0iLy9jYXJyeWdsYW5jZWQuY29tL2Q2ZjA1YmRkZWU4ODM5OTQ3YWUzYzRjZTUzMjc2NDg0L2ludm9rZS5qcyI+PC9zY3JpcHQ+"))
</script>
              <!--468x60-->
            </div>
          </div>

          <div class="col-span-8">
            <% if(matchStartedCheck(stream.date_time)){ %>

            <iframe
              frameborder="0"
              src="<%= stream.stream_url %>"
              allowfullscreen
              scrolling="no"
              allowtransparency
              class="aspect-video w-full rounded-md"
            ></iframe>

            <% }else{ %>

            <span class="text-xl text-rose-500">
              Stream Will Be Shown 60Mins Before The Event</span
            >
            <% } %>

            <div class="flex mt-4 flex-wrap gap-3">
                
                              <!--300x50-->
<script>
document.write(atob("PHNjcmlwdCB0eXBlPSJ0ZXh0L2phdmFzY3JpcHQiPgoJYXRPcHRpb25zID0gewoJCSdrZXknIDogJzM0ZDhiZDc3YzQ5MGQyZjRiMzk0MWVmZTY1ODQ0YjU1JywKCQknZm9ybWF0JyA6ICdpZnJhbWUnLAoJCSdoZWlnaHQnIDogNTAsCgkJJ3dpZHRoJyA6IDMyMCwKCQkncGFyYW1zJyA6IHt9Cgl9Owo8L3NjcmlwdD4KPHNjcmlwdCB0eXBlPSJ0ZXh0L2phdmFzY3JpcHQiIHNyYz0iLy9jYXJyeWdsYW5jZWQuY29tLzM0ZDhiZDc3YzQ5MGQyZjRiMzk0MWVmZTY1ODQ0YjU1L2ludm9rZS5qcyI+PC9zY3JpcHQ+"))
</script>
              <!--300x50-->
                
            </div>
          </div>

          <div class="col-span-4">
            <!--300x250-->
<script>
document.write(atob("PHNjcmlwdCB0eXBlPSJ0ZXh0L2phdmFzY3JpcHQiPgoJYXRPcHRpb25zID0gewoJCSdrZXknIDogJ2FkYjQwNzRhZmZiZjkwMzQwMzNhMmEwNWYyMjBlMzQzJywKCQknZm9ybWF0JyA6ICdpZnJhbWUnLAoJCSdoZWlnaHQnIDogMjUwLAoJCSd3aWR0aCcgOiAzMDAsCgkJJ3BhcmFtcycgOiB7fQoJfTsKPC9zY3JpcHQ+CjxzY3JpcHQgdHlwZT0idGV4dC9qYXZhc2NyaXB0IiBzcmM9Ii8vY2FycnlnbGFuY2VkLmNvbS9hZGI0MDc0YWZmYmY5MDM0MDMzYTJhMDVmMjIwZTM0My9pbnZva2UuanMiPjwvc2NyaXB0Pg=="))
</script>
            <!--300x250-->
            <br />
<!--160x300-->
<script>
document.write(atob("PHNjcmlwdCB0eXBlPSJ0ZXh0L2phdmFzY3JpcHQiPgoJYXRPcHRpb25zID0gewoJCSdrZXknIDogJzI5MDRiNzU3MTU3MGQ4N2Y2YTE5MjQxMWFjMDExNmE1JywKCQknZm9ybWF0JyA6ICdpZnJhbWUnLAoJCSdoZWlnaHQnIDogMzAwLAoJCSd3aWR0aCcgOiAxNjAsCgkJJ3BhcmFtcycgOiB7fQoJfTsKPC9zY3JpcHQ+CjxzY3JpcHQgdHlwZT0idGV4dC9qYXZhc2NyaXB0IiBzcmM9Ii8vY2FycnlnbGFuY2VkLmNvbS8yOTA0Yjc1NzE1NzBkODdmNmExOTI0MTFhYzAxMTZhNS9pbnZva2UuanMiPjwvc2NyaXB0Pg=="))
</script>
<!--160x300-->
            
          </div>
        </div>
      </div>
    </main>

  </body>
</html>
